html {
    background-color: #f6faf2;
}

body {
    margin-left: 20%;
    margin-right: 20%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#nav {
    display: block;
}

#nav-link {
    display: inline-block;
    padding: 30px;
    margin: 20px;
}

li {
    padding-top: 5px;
    padding-bottom: 5px;
}

h1 {
    padding-top: 20px
}