html {
    background-color: #f6faf2;
}

body {
    margin-left: 20%;
    margin-right: 20%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#nav {
    display: block;
}

li {
    padding-top: 10px;
}

h1 {
    padding-top: 20px
}

h2 {
    padding-top: 14px;
}
