<html>

<head>
    <title>Nathan Mannes</title>
    <link id="icon" rel="icon" type="image/png" href="/favicon.ico">
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <div>

        <div>
            <h1>
                Nathan Mannes
            </h1>
            <h2>
                (software engineer)
            </h2>
        </div>

        <div class="nav">
            <a class="nav-link" href="/about">About</a>
            <a class="nav-link" href="/history">History</a>
            <a class="nav-link" href="/news">News</a>
            <a class="nav-link" href="/links">Links</a>
        </div>



        <div>

            {{if .ShowSubcontent}}
            <p>{{.Subcontent}} </p>
            {{else}} {{end}}

            <ul>
                {{range .Content}}
                <li>{{.}}</li>
                {{end}}
            </ul>

        </div>
    </div>

    <figure>
        <figcaption>{{.Caption}}. (you can refresh for other photos)</figcaption>
        <img src={{.Path}} width="500px">
    </figure>

</body>

</html>