<html>

<head>
    <title>Nathan Mannes</title>
    <link id="icon" rel="icon" type="image/png" href="{{.Favicon}}">
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <div>

        <div>
            <h1>
                Nathan Mannes
            </h1>
            <h2>
                (software engineer)
            </h2>
        </div>

        <div class="nav">
            <a class="nav-link" href="/about">About</a>
            <a class="nav-link" href="/history">History</a>
            <a class="nav-link" href="/news">News</a>
            <a class="nav-link" href="/links">Links</a>
        </div>

        <div>

            <figure>
                <img src={{.Path}} height="400px" width="400px">
                <figcaption>{{.Caption}}. (you can refresh for other photos)</figcaption>
            </figure>

        </div>


        <div>

            {{if .ShowSubcontent}}
            <p>{{.Subcontent}} </p>
            {{else}} {{end}}

            <ul>
                {{range .Content}}
                <li>{{.}}</li>
                {{end}}
            </ul>

        </div>

    </div>
</body>

</html>